@import url(type.css);
@import url(button.css);

html, 
body{
    background-color: var(--bg);
} 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light-header: #f0f0f0;
    --light-bg: #ffffff;
    --light-imgbg: #f0f0f4;

    --dark-header: #000000;
    --dark-bg: #353535;
    --dark-imgbg: #202124;

    --bleu-header: #619dec;
    --bleu-bg: #cbdcf7;
    --bleu-imgbg: #84adea;

    --black: #000000;
    --white: #ffffff;
    --navy: #1f597a;
}

.light {
    --header: var(--light-header);
    --bg: var(--light-bg);
    --imgbg: var(var(--light-imgbg));
}

.dark {
    --header: var(--dark-header);
    --bg: var(--dark-bg);
    --imgbg: var(var(--dark-imgbg));
}
.bleu {
    --header: var(--bleu-header);
    --bg: var(--bleu-bg);
    --imgbg: var(var(--bleu-imgbg));
}

.main {
    background-color: var(--header);
}

.header {
    background-color: var(--bg);
}

h1 {
    color: #f8ba31;
}

h4 {
    color: #999ea2;
}

.menu-card {
    width: 26%;
    text-align: center;
    background-color: var(--imgbg);
    border: 3px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
}

.menu-description {
    font-size: 2rem;
    margin: 10px;
}

.menu-price {
    font-size: 2rem;
    font-weight: 600;
}