@import url(type.css);

html, 
body, 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light-header: #f0f0f0;
    --light-bg: #ffffff;
    --light-imgbg: #f0f0f4;

    --dark-header: #000000;
    --dark-bg: #353535;
    --dark-imgbg: #202124;

    --bleu-header: #1a73e8;
    --bleu-bg: #cbdcf7;
    --bleu-imgbg: #84adea;
}

.light {
    --header: var(--light-header);
    --bg: var(--light-bg);
    --imgbg: var(var(--light-imgbg));
}

.dark {
    --header: var(--dark-header);
    --bg: var(--dark-bg);
    --imgbg: var(var(--dark-imgbg));
}
.bleu {
    --header: var(--bleu-header);
    --bg: var(--bleu-bg);
    --imgbg: var(var(--bleu-imgbg));
}

body {
    background-color: var(--background);
}

.opt-button {
    width: 10%;
    height: 50px;
    font-size: 2rem;
}

.theme {
    padding: 1px 3px;
    font-size: 2rem;
    border: none;
    width: 20rem;
    height: 5rem;
    border-radius: 10px;
    text-align: center;
    margin-left: 50px;
}

.btn:hover {
    transform: translateY(-2px);
    box-shadown: 0 10px 0.5rem rgba(0, 0, 0, 0.2);
}